.company_main_img {margin-top: 84px; font-size: 0;}
.company_main_img img {width: 100%;}
.company_inner {max-width: 1441px; margin: 0 auto;}
.company_section section {padding: 180px 0 0; /* border: 1px solid #000; */}
.company_section .title h1 {font-weight: var(--font-weight); font-size: 4rem; font-family: 'Trebuchet MS'; padding-bottom: 40px;}
.company_section .title span {font-family: 'NanumBarunGothic', sans-serif; font-size: 1.7rem;}
.company_section .desc {position: relative; line-height: 30px; padding: 50px 0 0; border-top: 1px solid #7e7e7e;}
.company_section .desc p {margin-bottom: 10px;}
.company_section .desc p span {font-family: 'Trebuchet MS';}
.company_section .square {background: #3d3d3d; position: absolute; top: 0; right: 0; width: 29px; height: 8px;}
.company_section .img_box {font-size: 0;}

.company_section .desc,
#map_wrap .companyinfo {font-weight: var(--font-weight); font-size: var(--big-font); font-family: 'NanumBarunGothic', sans-serif;}

/* HISTORY */
#history_wrap .title {padding: 30px 0 20px;}
#history_wrap .company_inner {display: flex; align-items: flex-end;}
#history_wrap .desc {width: 100%; margin-left: 80px;}
#history_wrap .history_box {display: flex; flex-direction: column; justify-content: flex-end;}
#history_wrap .desc p {margin-bottom: 9px;}
#history_wrap .desc p:last-child {margin-bottom: 0;}

/* MAP */
#map_wrap .desc {position: relative; padding-bottom: 50px;}
#map_wrap .square {position: absolute; right: 0;}
#map_wrap .companyinfo {display: flex; justify-content: space-between; align-items: center; padding-top: 30px; line-height: 30px;}
#map_wrap .xans-layout-footer.company_addr {background: none; height: auto; display: block;}

#map_wrap .companyinfo a {background: url(/web/img/company/map_arrow.png) no-repeat 25% 45%; border: 1px solid #cacaca; width: 190px; height: 80px; line-height: 80px;}
#map_wrap .companyinfo a .load_btn {padding-left: 100px;}
#map_wrap .wrap_btn_roadview a.txt {font-size: 0;}
#map_wrap .wrap_controllers,
#map_wrap .wrap_btn_roadview .txt_bar {display: none;}