.xans-member-findidresult .findId {max-width:545px; margin: 0 auto; padding-top:168px; font-family: 'NanumBarunGothic', sans-serif; font-weight: var(--font-weight); font-size: var(--big-font); }
.xans-member-findidresult .boxTitle {font-size: 2.8rem; text-align: center; padding-bottom: 30px; font-family: 'Noto Sans KR',sans-serif;}
.xans-member-findidresult.ec-base-box ul {text-align: left;}
.xans-member-findidresult.ec-base-box .message {padding: 0; border-bottom: none; background: none; line-height: 25px;}
.xans-member-findidresult.ec-base-box { padding:49px 0 39px; }
.xans-member-findidresult.ec-base-box.typeThin h3.boxTitle  { margin:0 0 20px; }
.xans-member-findidresult { line-height:150%; text-align:center; }
.xans-member-findidresult .findId li label { display:inline-block; margin:0 0 5px 0; }
.xans-member-findidresult .ec-base-desc.gSmall .desc {padding-left: 0;}
.xans-member-findidresult .copy {line-height: 25px;}
.xans-member-findidresult [class^='btn'][class*='Fix'].sizeM {width: 252.5px; height: 74px; line-height: 74px; padding: 0; font-weight: var(--font-weight); font-size: 1.2rem;}
.xans-member-findidresult .ec-base-button a:nth-child(2) {border: 1px solid #dfdfdf;}
.xans-member-findidresult input[type=radio], input[type=checkbox] {accent-color: #000;}