.xans-product-relation.ec-base-tab .menu { margin:30px 0 11px; }
.xans-product-relation {max-width: 1296px; margin: 130px auto 0;}
.xans-product-relation .relation h2 {margin-bottom: 20px;}


/* 관련상품 */
.product__detail--slide .slick-prev, 
.product__detail--slide .slick-next {position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; font-size: 0; width: 40px; height: 50px; cursor: pointer; background: url(/web/img/detail/relaton_arrow.png) no-repeat 50% 50%;}
.product__detail--slide .slick-prev {left: -50px; transform: rotate(180deg) translateY(50%);}
.product__detail--slide .slick-next {right: -50px;}

.xans-product-relation .prdList__item {margin-right: 10px; display:inline-block; vertical-align:top;}
.xans-product-relation .prdList__item .thumb img {width: 100%;}
.xans-product-relation .slick-dots {position: absolute; top: -10.5%; left: 16%; display: flex; z-index: 10;}
.xans-product-relation .slick-dots button{cursor: pointer; font-size: 0; width: 30px; height: 5px; margin-right: .5rem; border: none; background: #e1e1e1;}
.xans-product-relation .slick-dots .slick-active button {background: #1e1e1e;}