/* 게시판 전체 공통 */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("//img.echosting.cafe24.com/skin/base/layout/ico_heading.gif") 0 50% no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

/* read */
.xans-board-read .ec-base-table .etcArea li { display:inline-block; margin:0 0 9px; padding:8px 20px 10px; vertical-align:top; line-height:22px; color:#666; }
.xans-board-read .ec-base-table .etcArea li a { text-decoration:none; }
.xans-board-read .ec-base-table .detail { padding:40px 0; word-break:break-all; line-height:normal; font-size: var(--small-font);}
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read .ec-base-table .detail ol li { list-style:decimal; }
.xans-board-read .ec-base-table .detail ul li { list-style:disc; }
.xans-board-read .ec-base-table tr.attach a { padding:0 0 0 12px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_file.gif") no-repeat 0 0; color:#8f8f8f; }
.xans-board-read .ec-base-table tr.attach a:hover { text-decoration:underline; }
.xans-board-read .ec-base-button { margin:30px 0 30px; }

/* read - 상품 */
.xans-board-product.ec-base-box.typeProduct { margin:20px 0 20px; }
.xans-board-product.ec-base-box.typeProduct .thumbnail {padding-left: 50px;}
.xans-board-product .information {font-size:1rem; font-weight:var(--font-weight);}
.xans-board-product .information p:first-child,
.xans-board-product .information p:nth-child(2) {display: inline-block;}
.xans-board-product .information .price {color: #b0b0b0;}
.xans-board-product .information p.button {background: var(--second-color); padding: 7px 10px; color: #e9e9e9; margin-left: 5px;}

/* 추가한 css */
form[id="BoardDelForm"] {max-width: 1441px; margin: 0 auto;}
.xans-board-read .ec-base-table table {border: none; margin-top: 50px; border-bottom: 1px solid #dfdfdf;}
.xans-board-read .ec-base-table.typeWrite tr:first-child {border-top: 2px solid #000; border-bottom: 1px solid #dfdfdf;}
.xans-board-read .ec-base-table.typeWrite td.read_content {padding: 0;}
.xans-board-read .ec-base-table.typeWrite td.read_title:first-child {background: url(/web/img/list/notice_icon.png) no-repeat 50px 50%;}
.xans-board-read .ec-base-table.typeWrite td.board_product_img_box {background: url(/web/img/list/notice_icon2.jpg) no-repeat 50px 50%;}
.xans-board-read .ec-base-table.typeWrite td.board_product_img_box,
.xans-board-read .ec-base-table.typeWrite td.read_title:first-child {line-height: 49.5px; padding-left: 100px; font-weight: var(--font-weight);}
.xans-board-read .ec-base-button [class^='btn'][class*='Fix'].sizeS {width: 180px; height: 55px; line-height: 55px; padding: 0; font-weight: var(--font-weight); border: 1px solid #dfdfdf;}
.xans-board-read .ec-base-button .gRight a {background: var(--second-color); color: #fff;}
.xans-board-read .ec-base-table table td {border-top: none;}

.boardComment,
.xans-board-commentwrite {max-width: 1441px; margin: 0 auto;}
.commentTop {background: #f8f8f8; height: 120px; display: flex; justify-content: center; align-items: center; font-weight: var(--font-weight); border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; font-weight: normal;}
.commentTop .button,
.commentTop .commentTop_box {flex: 2; text-align: center;}
.commentTop .comment {flex: 6; line-height: 25px;}
.commentTop .date {color: #b0b0b0 ; margin: 5px 0 0 -15px;}
.commentTop [class^='btn'].sizeL,
.commentTop button [class^='btnNormal'], a[class^='btnNormal'] {width: 78px; height: 36px; line-height: 30px; border: 1px solid #dfdfdf;}
.commentTop [class^='btn'].sizeL {padding: 0; font-weight: normal; line-height: 33px;}
.commentTop textarea[id="comment_modify"],
.commentTop .submit {margin-right: 20px; resize: none;}

.xans-board-commentwrite {padding: 30px 0; border-bottom: 1px solid #dfdfdf; font-weight: var(--font-weight);}
.xans-board-commentwrite input[id="comment_name"],
.xans-board-commentwrite input[id="comment_password"] {border: none; border-bottom: 1px solid #000; margin: 0 20px 0 20px; padding-left: 10px;}
.xans-board-commentwrite .view {display: flex; margin-top: 30px;}
.xans-board-commentwrite textarea[id="comment"] {width: 85%; height: 120px; resize: none; margin-left: 20px; font-size: 1rem;}
.xans-board-commentwrite [class^='btn'].sizeL {display: flex; align-items: center; justify-content: center; width: 100px; background: var(--second-color); color: #fff; margin-left: 10px;}

.xans-board-commentwrite,
.xans-board-read .ec-base-table table tr,
.xans-board-commentwrite input[id="comment_name"],
.xans-board-commentwrite input[id="comment_password"],
.xans-board-read .ec-base-button [class^='btn'][class*='Fix'].sizeS {font-family: 'NanumBarunGothic', sans-serif; font-size: 1rem;}
.adminAnswer {display: none;}
.fr-view img.fr-dib {margin: 0;}