/* 게시판 전체 공통 */
.xans-board-title p.imgArea { margin:0 0 20px; }

/* reply */
.xans-board-reply .ec-base-table tr.agree td textarea { width:560px; height:140px; margin:0 0 10px; }
.xans-board-reply .ec-base-table #subject { width:390px; }
.xans-board-reply .ec-base-table #captcha { width:160px; }
.xans-board-reply .ec-base-table #ucc_width, .xans-board-reply .ec-base-table #ucc_height { width:40px; margin-left:4px; }
.xans-board-reply .ec-base-table #email1 { margin:0 4px 0 0; }
.xans-board-reply .ec-base-table #email2 { margin:0 4px; }

.xans-board-reply .ec-base-button { margin:10px 0 40px; }

/* 추가한 css */
.xans-board-reply {max-width: 1441px; margin: 0 auto;}
.xans-board-reply .ec-base-table table {border: none; border-top: 2px solid #000; margin-top: 50px;}
.xans-board-reply .ec-base-table tbody th {border-right: none;}
.xans-board-reply .write_padding2 {padding: 15px 0 15px 20px;}
.xans-board-reply .ec-base-table tbody .write_padding {padding: 30px 0 30px 20px; font-weight: var(--font-weight);}
.xans-board-reply .ec-base-table tbody .write_padding3 {padding: 15px 0 15px 20px;}
.xans-board-reply input[id="notice0"] {margin-left: 10px;}
.xans-board-reply .information,
.xans-board-reply [class^='btnNormal'], a[class^='btnNormal'],
.xans-board-reply .ec-base-table table,
.xans-board-reply input,
.xans-board-reply .ec-base-button [class^='btn'][class*='Fix'].sizeS {font-family: 'NanumBarunGothic', sans-serif; font-size: 1rem;}
.xans-board-reply tbody.write_font {border-bottom: 1px solid #dfdfdf;}
.xans-board-reply[class^='btnNormal'], a[class^='btnNormal'],
.xans-board-reply .ec-base-button [class^='btn'][class*='Fix'].sizeS {width: 180px; height: 55px; line-height: 55px; padding: 0; font-weight: var(--font-weight); border: 1px solid #dfdfdf;}

.xans-board-reply-1002 input[id="notice0"],
.xans-board-reply-1002 label[for="notice0"],
.xans-board-reply-1002 input[id="is_post0"],
.xans-board-reply-1002 label[for="is_post0"] {display: none;}